@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    @apply bg-[#fcfcfc];
  }

  :root.dark {
    color-scheme: dark;
    @apply bg-[#171717];
  }

  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }
}

@font-face {
  font-family: 'naverNormal';
  src: url('../asset/fonts/naverNormal.woff');
}

@font-face {
  font-family: 'naverBold';
  src: url('../asset/fonts/naverBold.woff');
}

@font-face {
  font-family: 'naverSemi';
  src: url('../asset/fonts/naverSemi.woff');
}

/* <pre> 태그로 감싸진 코드 블록의 가로 스크롤바를 숨기기 */
pre::-webkit-scrollbar {
  display: none;
}

pre {
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #373737;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #cecece;
  border-radius: 10px;
}

.custom-scrollbar2::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 6px;
}

.custom-scrollbar2::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}

.custom-scrollbar2::-webkit-scrollbar-track {
  background-color: #cecece;
  border-radius: 6px;
}

.hover-button {
  position: relative;
}

.hover-button:hover::before {
  content: '✕';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
}
