@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    @apply bg-[#fcfcfc];
  }

  :root.dark {
    color-scheme: dark;
    @apply bg-[#1C1C1C];
  }

  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }
}

@font-face {
  font-family: 'naverNormal';
  src: url('../asset/fonts/naverNormal.woff');
}

@font-face {
  font-family: 'naverBold';
  src: url('../asset/fonts/naverBold.woff');
}

@font-face {
  font-family: 'naverSemi';
  src: url('../asset/fonts/naverSemi.woff');
}

/* <pre> 태그로 감싸진 코드 블록의 가로 스크롤바를 숨기기 */
pre::-webkit-scrollbar {
  display: none;
}

pre {
  scrollbar-width: none;
}
